<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>Thatsmart</title>
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_493593_2ghiz6nkwlo3l3di.css">
    <link rel="stylesheet" href="static/css/mescroll.min.css">
    <link rel="stylesheet" href="./static/css/style.css">
    <style>
        
    </style>
</head>

<body>
    <div class="wrapper" id="productList">
        <div>
            <th-header></th-header>
            
            <th-banner></th-banner>
            <div class="banner-img" :style="{backgroundImage:`url(${banner})`}"></div>
            <div class="th-product-box" :class="{ showorhide: isActive }">
                
                <div v-if="deal" v-for="item in listData">
                    <a :href="['./product-details.html?id=']+item.id">
                        <div class="th-product-item" >
                            <img :src="item.set_img" alt="">
                            <div><em class="theme_color">￥{{item.goods_price}}</em><i class="iconfont icon-cart-on fr"></i></div>
                            <p v-text="item.goods_name"></p>
                        </div>
                    </a>
                </div>
                <div v-else>
                    <a :href="['./product-details.html?id=']+item.id">
                        <div class="th-product-item" >
                            <img :src="item.coverpic" alt="">
                            <div><em class="theme_color">￥{{item.goods_price}}</em><i class="iconfont icon-cart-on fr"></i></div>
                            <p v-text="item.goods_name"></p>
                        </div>
                    </a>
                </div>
            </div>
            <th-footer v-if="footerShow"></th-footer>  
        </div>
    </div>
    <!-- <script src="static/node_modules/axios/dist/axios.js"></script> -->
    <script src="static/js/ajax.js"></script>
    <script src="static/js/mescroll.min.js"></script>
    <script src="static/node_modules/vue/dist/vue.js"></script>
    <!-- <script src="static/node_modules/vue-lazyload/vue-lazyload.js"></script> -->
    <script src="static/js/imagesloaded.pkgd.min.js"></script>
    <script src="static/js/masonry.min.js"></script>
    <script src="./components/th-components.js"></script>
    <script src="./api/common.js"></script>
    <script src="./api/especiallyProductList.js"></script>

</body>
</html>
