<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>Thatsmart</title>
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_493593_xz3b2im75ncm1jor.css">
    <link rel="stylesheet" href="static/node_modules/swiper/dist/css/swiper.min.css">
    <link rel="stylesheet" href="static/css/mescroll.min.css">
    <link rel="stylesheet" href="./static/css/style.css">
    <style>
        .swiper-container {
          height: 340px;
          width: 100%;
        }

        .swiper-slide {
          text-align: center;
          font-size: 38px;
          font-weight: 700;
          background-color: #eee;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          width: 100%;
          height: 340px;
          
        }

        .swiper-slide > div {
            width: 100%;
            height: 100%;
        }

        .swiper-slide > div > a {
            width: 100%;
            height: 100%;
            display: inline-block;
        }

        .carousel-img {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
    </style>
</head>

<body>
    <div class="wrapper" id="home" v-if="homeData">
        <swiper ref="awesomeSwiperA" :options="swiperOptionA">
            <swiper-slide v-for="item in homeData.figure">
            <div v-if="item.set_cat_id === '1'">
                <a href="https://www.baidu.com/">
                    <div class="carousel-img" :style="{backgroundImage:`url(${item.set_img})`}"></div>
                </a>
            </div>
            <div v-else-if="item.set_cat_id === '2'">
                <a href="http://www.thatsmags.com/">
                    <div class="carousel-img" :style="{backgroundImage:`url(${item.set_img})`}"></div>
                </a>
            </div>
            <div v-else-if="item.set_cat_id === '3'">
                <a :href="item.set_url">
                    <div class="carousel-img" :style="{backgroundImage:`url(${item.set_img})`}"></div>
                </a>
            </div>
                
            </swiper-slide>
            <div class="swiper-pagination"  slot="pagination"></div>
            <div class="swiper-button-prev" slot="button-prev"></div>
            <div class="swiper-button-next" slot="button-next"></div>
        </swiper>
        <div class="container">
            <div class="home-content">
                <div class="home-deals">
                    <a href="#">
                        <div class="deals-left">
                            <img :src="homeData.deal.image" alt="">
                        </div>
                        <div class="deals-right">
                            <ul>
                                <li class="deals-list" v-for="item in homeData.deal.list">
                                    <div>
                                        <div><img :src="item.set_img" alt=""></div>
                                        <p>{{item.goods_name}}</p>
                                        <p><em>¥ </em>{{item.goods_price}}</p>
                                    </div>                                  
                                </li>
                            </ul>
                        </div>
                    </a>
                </div>
                <div class="home-editor">
                    <div class="editor-left">
                        <a href="#"><img :src="homeData.article.image" alt=""></a>
                    </div>
                    <div class="editor-right">
                        <ul>
                            <li class="editor-list" v-for="item in homeData.article.list">
                                <div class="clearfix">
                                    <a href="#">
                                        <img :src="item.set_img" alt="">
                                        <span>{{item.article_name}}</span>
                                    </a>
                                </div>
                                <p>{{item.create_time}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="home-deals home-ticket">
                    <a href="#">
                        <div class="deals-left">
                            <img src="static/images/ticketing-home.jpg" alt="">
                        </div>
                        <div class="deals-right">
                            <ul>
                                <li class="deals-list">
                                    <div>
                                        <div><img src="static/images/ximiannai.jpg" alt=""></div>
                                        <p>E-reader - Black</p>
                                        <p><em>¥ </em>1299</p>
                                    </div>                                  
                                </li>
                                <li class="deals-list">
                                    <div>
                                        <div><img src="static/images/ximiannai.jpg" alt=""></div>
                                        <p>Kindle E-reader</p>
                                        <p><em>¥ </em>1299</p>
                                    </div>                                  
                                </li>
                                <li class="deals-list">
                                    <div>
                                        <div><img src="static/images/ximiannai.jpg" alt=""></div>
                                        <p>Kindle E-reader</p>
                                        <p><em>¥ </em>1299</p>
                                    </div>                                  
                                </li>
                                <li class="deals-list">
                                    <div>
                                        <div><img src="static/images/ximiannai.jpg" alt=""></div>
                                        <p>Kindle E-reader</p>
                                        <p><em>¥ </em>1299</p>
                                    </div>                                  
                                </li>
                                <li class="deals-list">
                                    <div>
                                        <div><img src="static/images/ximiannai.jpg" alt=""></div>
                                        <p>Kindle E-reader</p>
                                        <p><em>¥ </em>1299</p>
                                    </div>                                  
                                </li>
                                <li class="deals-list">
                                    <div>
                                        <div><img src="static/images/ximiannai.jpg" alt=""></div>
                                        <p>Kindle E-reader</p>
                                        <p><em>¥ </em>1299</p>
                                    </div>                                  
                                </li>
                                <li class="deals-list">
                                    <div>
                                        <div><img src="static/images/ximiannai.jpg" alt=""></div>
                                        <p>Kindle E-reader E-reader</p>
                                        <p><em>¥ </em>1299</p>
                                    </div>                                  
                                </li>
                                <li class="deals-list">
                                    <div>
                                        <div><img src="static/images/ximiannai.jpg" alt=""></div>
                                        <p>Kindle E-reader E-reader</p>
                                        <p><em>¥ </em>1299</p>
                                    </div>                                  
                                </li>
                                <li class="deals-list">
                                    <div>
                                        <div><img src="static/images/ximiannai.jpg" alt=""></div>
                                        <p>Kindle E-reader</p>
                                        <p><em>¥ </em>1299</p>
                                    </div>                                  
                                </li>
                                <li class="deals-list">
                                    <div>
                                        <div><img src="static/images/ximiannai.jpg" alt=""></div>
                                        <p>Kindle E-reader</p>
                                        <p><em>¥ </em>1299</p>
                                    </div>                                  
                                </li>
                            </ul>
                        </div>
                    </a>
                </div>
            </div>
        </div><!-- End container -->
          
    </div>
    <script src="static/node_modules/axios/dist/axios.js"></script>
    <script src="static/node_modules/swiper/dist/js/swiper.min.js"></script>
    <script src="static/node_modules/vue-awesome-swiper/dist/vue-awesome-swiper.js"></script>
    <script src="static/node_modules/vue/dist/vue.js"></script>
    <script src="static/js/mescroll.min.js"></script>
    <script src="./components/th-components.js"></script>
    <script src="api/home.js"></script>
</body>
</html>
