<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>Thatsmart</title>
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_493593_rvj6l8b6wxr2uik9.css">
    <link rel="stylesheet" href="static/css/mescroll.min.css">
    <link rel="stylesheet" href="./static/css/style.css">
</head>

<body>
    <div class="wrapper" id="OlderConfirmation">
		<!-- 顶部栏开始 -->
        <div class="top_bar">
            <div class="top_bar_content banxin clearfix">
                <ul class="user_login fl">
                    <li>
                        <a href="#">Login</a>
                    </li>
                    <b>|</b>
                    <li>
                        <a href="#">
                            Sign up
                        </a>
                    </li>
                </ul>
                <ul class="user-info fr">
                    <li><a href="#">Vendor Background</a></li>
                    <b>|</b>
                    <li><a href="#">Open Shop</a></li>
                    <b>|</b>
                    <li><a href="#">Buyer Centre</a></li>
                    <b>|</b>
                    <li><a href="#">My order</a></li>
                    <b>|</b>
                    <li><a href="#"><i class="iconfont icon-cart-on"></i>Cart</a></li>
                </ul>
            </div>
        </div>
        <!-- 顶部栏结束 -->
        <!-- 搜索栏开始 -->
        <div class="search_bar">
            <div class="search_bar_content banxin">
                <div class="logo_box">
                    <a href="#">
                        <img src="./static/images/thatsmart-logo.png" alt="">
                    </a>
                </div>
                <div class="search_group">
                    <i class="iconfont icon-sousuo"></i>
                    <input type="text" placeholder="Products / Shops">
                    <button>Search</button>
                </div>
                <div class="ad_01">
                    <a href="#">
                        <img src="./static/images/ad_01.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <!-- 搜索栏结束 -->
         <!-- 导航栏开始 -->
        <div class="navigation_bar navigation_bar2">
            <div class="navigation_bar_content banxin">
                <ul class="navigation_ul">
                    <li>
                        <a href="#"><i class="iconfont icon-fenlei"></i>All Categories</a>
                    </li>
                    <li>
                        <a href="#">Clothing</a>
                    </li>
                    <li>
                        <a href="#">Electric</a>
                    </li>
                    <li>
                        <a href="#">Sales</a>
                    </li>
                    <li>
                        <a href="#">Promotion</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 导航栏结束 -->      
        <!-- 订单详情开始 -->
        <div class="order_details_content banxin" v-cloak>
            <h4>Older Confirmation</h4>
            <div class="order_address clearfix">
                <div class="fl order_address_left">
                    <i class="iconfont icon-dizhi2"></i> Send to
                </div>
                <div class="fl order_address_right">
                    <div v-if="noAddress">Please add your detailed address.</div>
                    <ul class="address_ul" :class="{active: autoHeight}">
                        <li v-for="(item,index) in addressData" @click='getAddrId(item,index)' :class='{active: item.id==active}'>
                            <p><i class="iconfont icon-duihao1"></i><span v-text="item.region"></span><span v-cloak> ({{item.fullname}}) </span><span v-text="item.phone"></span></p>
                            <p v-text="item.region_detail" v-show="item.region_detail" style="margin-left: 24px;"></p>
                        </li>
                    </ul>
                    <p v-show="isShow" class="more" style="display: none;" @click="getMore"><i class="iconfont icon-xiangshangjiantou-copy-copy-copy show-address"></i><i class="iconfont icon-xiangshangjiantou-copy-copy-copy-copy hide-address"></i></p>
                </div>
                <div class="fl">
                    <a href="#" class="add_address" @click="AddAddress">Add Address</a>
                </div>
            </div>
            <div class="order_pro_list">
                <div class="title">
                    <span class="Older-shopname">Shop Name</span>
                    <span class="commodity">Commodity</span>
                    <span class="price">Price</span>
                    <span class="quantity">Quantity</span>
                    <span class="subtotal">Subtotal</span>
                </div>
                <ul class="order_shop_ul">
                    <li class="shop_li" v-for="item in merchant">
                        <div class="shop_name" v-text="item.merchant_name">
                             
                        </div>
                        <ul class="order_pro_ul">
                            <li class="clearfix" v-for="product in item.list">
                                <img :src="product.goods_picture" alt="">
                                <div class="order_pro_info">
                                    <p v-text="product.goods_name"></p>
                                    <p v-show="!product.type_name_one==''">{{product.type_name_one}}: <span>{{product.goods_type_one}}</span></p>
                                    <p v-show="!product.type_name_two==''">{{product.goods_type_two}}: <span>{{product.goods_type_two}}</span></p>
                                </div>
                                <div class="order_pro_price">
                                    <p>￥<span v-text="product.goods_price"></span></p>
                                </div>
                                <div class="count" v-text="product.goods_cnt">
                                    
                                </div>
                                <div class="pro_pay_price">
                                    <p>￥<span>{{product.goods_price*product.goods_cnt}}</span></p>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- <li class="shop_li">
                        <div class="shop_name">
                            Shop Name 
                        </div>
                        <ul class="order_pro_ul">
                            <li class="clearfix">
                                <img src="./static/images/prolist_01.jpg" alt="">
                                <div class="order_pro_info">
                                    <p>Shanghai Restaurant Review: Kun Th aia</p>
                                    <p>Size:<span>20cmx15cm</span></p>
                                    <p>Color Category : <span>red</span></p>
                                </div>
                                <div class="order_pro_price">
                                    <p>￥<span>7773</span></p>
                                </div>
                                <div class="count">
                                    123
                                </div>
                                <div class="pro_pay_price">
                                    <p>￥<span>7773</span></p>
                                </div>
                            </li>
                            <li class="clearfix">
                                <img src="./static/images/prolist_01.jpg" alt="">
                                <div class="order_pro_info">
                                    <p>Shanghai Restaurant Review: Kun Th aia</p>
                                    <p>Size:<span>20cmx15cm</span></p>
                                    <p>Color Category : <span>red</span></p>
                                </div>
                                <div class="order_pro_price">
                                    <p>￥<span>7773</span></p>
                                </div>
                                <div class="count">
                                    123
                                </div>
                                <div class="pro_pay_price">
                                    <p>￥<span>7773</span></p>
                                </div>
                            </li>
                            <li class="clearfix">
                                <img src="./static/images/prolist_01.jpg" alt="">
                                <div class="order_pro_info">
                                    <p>Shanghai Restaurant Review: Kun Th aia</p>
                                    <p>Size:<span>20cmx15cm</span></p>
                                    <p>Color Category : <span>red</span></p>
                                </div>
                                <div class="order_pro_price">
                                    <p>￥<span>7773</span></p>
                                </div>
                                <div class="count">
                                    123
                                </div>
                                <div class="pro_pay_price">
                                    <p>￥<span>7773</span></p>
                                </div>
                            </li>
                        </ul>
                    </li> -->
                </ul>
                <div class="postage_packing">
                    <div class="order-price-right">
                        <span class="fl" class="theme_color">Total</span><span>￥<em v-text="beforetotal"></em></span>
                    </div>
                </div>
                <div class="postage_packing">
                    <div class="order-price-right">
                        <span class="fl" v-text="couponName"></span><span>-￥<em v-text="reduceMoney"></em> </span>
                    </div>
                </div>
                <div class="invoice_title">
                    <div class="total order-price-right">
                        <span class="fl">Final Price</span> <span class="theme_color">¥<em v-text="total"></em></span>
                    </div>
                </div>
                <div class="submit_box">
                    <span>Submit</span>
                </div>
            </div>
        </div>
        <!-- 订单详情结束 -->      
        <th-footer></th-footer>
        <div>
            <div class="th-layer" v-show="layer" @click="hideLayer" v-cloak></div>
            <div class="th-layer-box" v-show="layer" v-cloak>
                <div class="th-layer-title">
                    Add a new address
                </div>
                <div class="th-layer-content">
                    <div class="row clearfix">
                        <label for="name">Name :</label>
                        <input id="name" type="text" v-model="name" autofocus="autofocus">
                    </div>
                    <div class="row clearfix">
                        <label for="phone">Phone :</label>
                        <input id="phone" type="text" v-model="phone">
                    </div>
                    <div class="row clearfix">
                        <label for="ChAddress"><em class="theme_color">*</em> Address :</label>
                        <textarea id="ChAddress" v-model="ChAddress"></textarea>
                    </div>
                    <div class="row clearfix">
                        <label for="EnAddress">Address :</label>
                        <textarea id="EnAddress" v-model="EnAddress"></textarea>
                    </div>
                    <div class="row clearfix save-row">
                        <span class="save" @click="saveAddAddr">Save</span>
                    </div>
                </div>
            </div>
        </div>
        

    </div>
    <script src="static/node_modules/axios/dist/axios.js"></script>
    <script src="static/js/mescroll.min.js"></script>
    <script src="static/node_modules/vue/dist/vue.js"></script>
    <script src="static/node_modules/vue-lazyload/vue-lazyload.js"></script>
    <script src="./components/th-components.js"></script>
    <script src="./api/orderDetails.js"></script>
</body>
</html>
