<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>Thatsmart</title>
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_493593_2ghiz6nkwlo3l3di.css">
    <link rel="stylesheet" href="static/css/mescroll.min.css">
    <link rel="stylesheet" href="./static/css/style.css">
</head>

<body>
    <div class="wrapper" id="productList" v-cloak>
        <div>
            <th-header></th-header>
            <div class="th-product-banner banxin">
                <div class="th-product-title"><a href="./home-page.html">home</a> > {{proName}}</div>
                <div class="th-product-Sorting">
                    <div v-for="(item,index) in titleList" v-if="index==0" @click="sortPtoduct(item.sort,index)">
                        <span :class="{theme_color: index==activeNumber}">{{item.name}}</span>
                        <em></em>
                    </div>
                    <div v-else-if="index==2" @click="sortPtoduct(item.sort==1?2:1,index)">
                        <span :class="{theme_color: index==activeNumber}">{{item.name}}<i class="iconfont icon-xiangshang" :class="{rotate: upDown}"></i></span>
                    </div>
                    <div v-else @click="sortPtoduct(item.sort,index)">
                        <span :class="{theme_color: index==activeNumber}">{{item.name}}<i class="iconfont icon-xiangshang"></i></span>
                        <em></em>
                    </div>
                </div>
            </div>
            <div class="th-product-box" :class="{ showorhide: isActive }">
                <div class="th-product-item" v-for="item in listData" >
                    <a :href="['./product-details.html?id=']+item.id">
                        <img :src="item.coverpic" alt="">
                        <div><em class="theme_color">￥{{item.goods_price}}</em><i class="iconfont icon-cart-on fr"></i></div>
                        <p v-text="item.goods_name"></p>
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
    <script src="static/js/ajax.js"></script>
    <script src="static/js/mescroll.min.js"></script>
    <script src="static/node_modules/vue/dist/vue.js"></script>
    <!-- <script src="static/node_modules/vue-lazyload/vue-lazyload.js"></script> -->
    <script src="static/js/imagesloaded.pkgd.min.js"></script>
    <script src="static/js/masonry.min.js"></script>
    <script src="./components/th-components.js"></script>
    <script src="./api/common.js"></script>
    <script src="./api/productList.js"></script>

</body>
</html>
