<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>Thatsmart</title>
    <link rel="stylesheet" href="./static/node_modules/swiper/dist/css/swiper.min.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_493593_xz3b2im75ncm1jor.css">
    <link rel="stylesheet" href="./static/css/style.css">
    <link rel="stylesheet" href="./static/css/magnifier.css">
    <link rel="stylesheet" href="./static/css/mescroll.min.css">
</head>

<body>
    <div class="wrapper" id="productDetails" v-cloak v-if="productData">
        <th-header></th-header>
        <div class="container">
            <!-- 商品详情开始 -->
            <div class="productDetails-all clearfix">
                <div class="productDetail-left">
                    <div class="product-details">
                        <div class="product-details-l">
                            <div class="preview-box">
                                <!-- 大图begin -->
                                <div id="preview" class="spec-preview"> 
                                  <span class="jqzoom"><img jqimg="productData.figure[0]" :src="productData.figure[0]" /></span> 
                                </div>
                                <!-- 大图end -->
                                <!-- 缩略图begin -->
                                <div class="spec-scroll">
                                    <div class="items">
                                        <ul>
                                            <li @mouseover="mouseOverColor" v-for="item in productData.figure">
                                                <!-- <p>{{item}}</p> -->
                                                <img bimg="./static/images/b1.jpg" :src="item" onmousemove="preview(this);">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- 缩略图end -->
                            </div>
                        </div>

                        <div class="product-details-r">
                            <h4>{{productData.goods_name}}</h4>
                            <p>
                                <span><em>¥</em>{{productData.price.goods_price}}</span>
                                <!-- <del><em>¥</em>35999</del> -->
                                <!-- <span><em>Sales volume:</em>299999</span> -->
                            </p>
                            <ul>
                                <li class="product-info-r" v-if="productData.type_name_one">
                                    <span>{{productData.type_name_one}}</span>
                                    <ul class="clearfix size-f">
                                       <li :class="{active: active==index}" v-for="(item,index) in productData.goods_type_one" @click="clickActiveOne(index,item)"> 
                                            <span>{{item}}</span>
                                       </li> 
                                                                                
                                    </ul>
                                </li>
                                <li class="product-info-r" v-if="productData.type_name_two">
                                    <span>{{productData.type_name_two}}</span>
                                    <ul class="clearfix color-f">
                                       <li :class="{active: active2==index}" v-for="(item,index) in productData.goods_type_two" @click="clickActiveTwo(index,item)">                                 
                                            <span>{{item}}</span>
                                       </li>                                       
                                    </ul>                                     
                                </li>
                                <li class="product-info-r">
                                    <span>Quantity</span>
                                    <ul class="clearfix Quantity-f">
                                       <span class="jia-jian">
                                            <i :class="{minus:countColor}" @click="minus">－</i>
                                            <input type="text" v-model="number" class="num" readonly="readonly">
                                            <i class="plus" @click="add">＋</i>
                                       </span>
                                       <em>Stock: <span>{{productData.price.goods_stock}}</span></em>
                                    </ul>                                    
                                </li>
                            </ul>
                            <div class="btn-f clearfix">
                                <div @click="buyBtn">
                                    <a href="javascript:;">Buy</a>
                                </div>
                                <div>
                                    <a href="javascript:;">Add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="product-photo">
                        <div class="nav-center clearfix btnPro">
                            <span>Goods info</span>
                            <span>Reviews<em>(0)</em></span>
                            <div class="buyPro" @click="buyBtn">
                                <a href="javascript:;" class="nav-buy">Buy</a>
                            </div>
                        </div>
                        <div class="conPro" v-html="productData.goods_content">
                            
                        </div>                    
                    </div>
                </div>
            </div>  
            <!-- 商品详情结束 -->
        </div>

        <!-- 置顶导航栏开始 -->
        <div class="fixed-nav" id="fixed-nav">
            <div class="banxin"> 
                <div class="fixed-center clearfix btnPro">
                    <a>Goods info</a>
                    <a>Reviews<em>(0)</em></a>
                    <div class="buyPro">
                        <a href="javascript:;" class="nav-buy">Buy</a>
                    </div>
                </div>      
            </div>
        </div>
        <!-- 置顶导航栏结束 -->
        <th-footer></th-footer>
    </div>
   <script src="static/node_modules/axios/dist/axios.js"></script>
    <script src="static/node_modules/vue/dist/vue.js"></script>
    <script src="api/common.js"></script>
    <script src="static/js/mescroll.min.js"></script>
    <script src="components/th-components.js"></script>
    <script src="./api/productDetails.js"></script>
    <!-- <script src="./static/js/jquery.jqzoom.js"></script> -->
</body>
</html>
