* { 
	margin:0; 
	padding:0; 
	list-style:none;
}
img{ border:0;}

.preview-box { 
	width:400px; 
	height:auto; 
	// margin:0 auto; 
	overflow:hidden;
}
.jqzoom {
	float:left;
	border:none;
	position:relative;
	padding:0px;
	cursor:pointer;
	margin:0px;
	display:block;
	width: 400px;
	height: 400px;
}
.jqzoom img { 
	background:url(../images/loading.gif) no-repeat center center;
	width: 100%;
}
.zoomdiv {
	z-index:100;
	position:absolute;
	top:0px;
	left:0px;
	width:350px;
	height:350px;
	background:#ffffff;
	border:1px solid #CCCCCC;
	display:none;
	text-align:center;
	overflow:hidden;
}
.jqZoomPup {
	z-index:10;
	visibility:hidden;
	position:absolute;
	top:0px;
	left:0px;
	width:20px;
	height:20px;
	border:1px solid #aaa;
	background:#fff;
	opacity: 0.5;
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	filter: alpha(Opacity=50);
}
/*图片小图预览列表*/
.spec-preview {
	width: 400px;
	height: 400px;
	// border:1px solid #DFDFDF;
}



.spec-scroll {
	clear:both;
	margin-top:5px;
	width:400px;
}
.spec-scroll .prev {
	float:left;
	margin-right:4px;
}
.spec-scroll .next { float:right;}
.spec-scroll .prev,.spec-scroll .next {
	display:block;
	font-family:"宋体";
	text-align:center;
	width:10px;
	height:54px; 
	line-height:54px;
	// border:1px solid #CCC;
	// background:#EBEBEB;
	cursor:pointer;
	text-decoration:none;
}
.spec-scroll .items {
	float:left;
	position:relative;
	width:400px;
	height:72px;
	overflow:hidden;
}
.spec-scroll .items ul {
	position:absolute;
	width:999999px;
	height:73px;
}
.spec-scroll .items ul li {
	float:left;
	width:66px;
	height: 66px;
	text-align:center;
	margin-right: 17px;
	cursor: pointer;
}
.spec-scroll .items ul li img {
	border:1px solid #CCC;
	padding:2px;
	width:60px;
	height:60px;
}
.spec-scroll .items ul li img:hover {
	border:1px solid #FF6600;
	// padding:1px;
}